html {  
	background-color: white;
	font-family: 'Roboto';
	background-color: #f1f1f1;
	

}

body {
  	padding: 0% 2% ;
}

header {
	padding: 0% 0% 50px 0%;

}


.js {
	color: grey;
}
  
.welcome { 
	font-size: 15x;
}

a {
	color: #333
}

a:hover {
	color: #74801b;
}

.gallery{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-row: auto;
	gap: 5px;
	padding: 2px;
	grid-template-columns: repeat(2, 1fr);
} 

.container {
	display: flex;
	align-items: center;
	width: 100%;
	border-width: 0px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #afafaf;
}

.small {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	gap: 5px;	

}

h2 {
	background-color: #dffc03;
        display: inline-block;
	padding: 0 10px;
}

h1 {
	background-color: #dffc03;
        display: inline-block;
	padding: 0 10px;
	font-weight: 600 ;
	margin-bottom: 0;
}

p {
	color: #4a4a4a;

}

.images {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 9px;
	border-style: solid;
	padding: 1%;
	border: 0;
}


.main {
	width: 300px;
}

.splash img {
	width: 50px;

}

.gallery img,
.gallery video{
	border-style: solid;
	border-width: 2px;
	border-color: #afafaf;
}


.large img,
.large video {
	margin: 0;
	width: 100%;

}



.small video,
.small img {
	width: 50%;
}


.small video:hover,
.small img:hover {
}


.images video:hover,
.images img:hover {
	border-color: blue;
}

.tag {
    background-color: black; 
    color: white; 
    padding: 2px 6px; 
    font-size: 12px; 
    border-radius: 3px; 
    margin-left: 5px; 
    display: inline-block; 

}

.button {

}

.content {
	padding: 25px;
	background-color: #ffffff;
	width: 80%;
	border-style: solid;
	border-width: 1px;
	border-color: #afafaf;
}

.splash {
	width: 20%;
}

.splash img {
	width: 50px;

}

.content:hover {

}
